@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap");

.protect{
    font-family: "Gothic A1", sans-serif;
    text-align: center;
    font-weight:bolder;
    background-color:mistyrose;
    padding: 2rem;

}

.protect h2{
    font-weight:bolder;
    
    
}

.protect p {
    font-size: 20px;
  }